.header {
  background-color: $white;
  box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);

  // .header__container
  &__container {

  }

  // .header__top
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;

    border-bottom: 1px solid rgba(222, 222, 255, .5);

    @media (max-width: $md3+px) {
      // display: none;
    }
  }

  // .header__social
  &__social {}

  // .header__phone
  &__phone {}

  // .header__menu
  &__menu {}

  // .header__logo

  &__logo {
    flex: 1 1 auto;
  }
}

.social {

  // .social__link
  &__link {
    &:not(:last-child) {
      margin: 0px 20px 0px 0px;
    }
  }
}

.phone {

  // .phone__main
  &__main {
    background: url('../../img/svg/phone.svg') 0 center no-repeat;
  }

  // .phone__whatsapp
  &__whatsapp {
    background: url('../../img/svg/whatsapp.svg') 0 center no-repeat;
  }

  &__main,
  &__whatsapp {
    padding: 0px 0px 0px 28px;

    font-family: Roboto;
    font-weight: 900;
    color: inherit;
    line-height: 16 / 14 * 100%;

    &:not(:last-child) {
      margin: 0px 26px 0px 0px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 16px 0px;

  @media (max-width:$md3+px) {
    padding: 26px 0px;
  }

  // .menu__body
  &__body {
    transition: all 0.5s ease 0s;

    @media (min-width:$md3+px) {
      display: flex;
      align-items: center;
    }

    @media (max-width:$md3+px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      max-height: 100%;
  
      padding: 24px 76px 36px;

      transform: translate(-100%, 92px);
      text-align: center;
      overflow: auto;
      background-color: $white;

      &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 320px;
        background: rgba(222, 222, 255, .5);
      }
    }

    &._active {
      transform: translate(0px, 92px);
    }
  }

  // .menu__list
  &__list {
    @include adaptiv-value("margin-right", 64, 10, 1);
    @include adaptiv-value("margin-left", 32, 10, 1);

    text-align: center;

    @media (min-width:$md3+px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  // .menu__item
  &__item {
    padding: 0px 0px 32px 0px;

    &:not(:last-child) {
      @include adaptiv-value("margin-right", 32, 10, 1);
    }

    @media (min-width: $md3+px) {
      padding: 5px 0px;
    }

    @media (max-width:$md3+px) {
      &:last-child {
        padding: 0px 0px 36px 0px;
      }
    }
  }

  // .menu__link
  &__link {
    font-size: 14px;
    font-weight: 700;
    color: inherit;
    line-height: 16.8 / 14 * 100%;
    letter-spacing: -.4px;

    transition: all 0.3s ease 0s;

    &:hover {
      color: $blue;
    }

    @media (max-width:$md3+px) {
      font-size: 18px;
      line-height: 21.6 / 18 * 100%;
    }
  }
}