.header {
  background-color: $white;
  box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
}

.header__container {}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;

  border-bottom: 1px solid rgba(222, 222, 255, .5);

  @media (max-width: $md3+px) {
    display: none;
  }
}

.header__social {}

.social {}

.social__link {
  &:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
}

.header__phone {}

.phone {}

.phone__main {
  background: url('../../img/svg/phone.svg') 0 center no-repeat;
}

.phone__whatsapp {
  background: url('../../img/svg/whatsapp.svg') 0 center no-repeat;
}

.phone__main,
.phone__whatsapp {
  padding: 0px 0px 0px 28px;

  font-family: Roboto;
  font-weight: 900;
  color: inherit;
  line-height: 16 / 14 * 100%;

  &:not(:last-child) {
    margin: 0px 26px 0px 0px;
  }
}

.header__content {
  display: flex;
  align-items: center;
  padding: 16px 0px;
}


.header__menu {
  display: flex;
  align-items: center;

  @media (max-width:$md3+px) {
    display: none;
  }

  &._active{
    display: block;
  }
}

.menu {}

.header__logo {
  flex: 1 1 auto;
}

.logo {}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include adaptiv-value("margin-right", 64, 10, 1);
  @include adaptiv-value("margin-left", 32, 10, 1);
}

.menu__item {
  padding: 5px 0px;

  &:not(:last-child) {
    @include adaptiv-value("margin-right", 32, 10, 1);
  }
}

.menu__link {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  line-height: 16.8 / 14 * 100%;
  letter-spacing: -.4px;

  transition: all 0.3s ease 0s;

  &:hover {
    color: $blue;
  }

}
