//<МИКСИНЫ>===============================================================================================
@import "helpers/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url('https://fonts.googleapis.com/css?family=Lato:regular,700,800&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,700,800,900&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap&subset=cyrillic-ext');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "components/icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily:'Montserrat';
// sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;

$dark: #23283B;
$red-hover: #BE312B;
$red: #E6514A;
$blue: #3035C3;
$light: #DEDEFF;
$white: #fff;




// $c_1: #1895e3;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "base/null";

body {
  // background: #E5E5E5;
  background-color: #000;

  &._lock {
    overflow: hidden;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0px 15px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "components/forms";
// @import "components/ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
// @import "vendors/lightgallery";
//@import "pagging";
// @import "components/tabs";
// @import "components/spollers";
// @import "components/popup";
// @import "components/forms";

// @import "layout/footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}

//===================================================================================================================================



//</ОСНОВНОЙ БЛОК>====================================================================================================


/* Технические классы

*** Табы ***

_tabs - общий родитель блока табов
_tabs-item - линк таба
_tabs-block - контент таба
_active - активный элемент

*** Аккордеон ***

_spollers - обший родитель аккордеона (если еще добавлен _one - то открыт только какой-то один ответ)
_spoller - класс вопроса, под ним должен быть div ответа (с любым классом)
Вопрос и ответ должыне быть в блоке типа spollers-block__item
_active - открытый аккордеон


*** Анимация ***

При добавлении блоку класса _scr-item - то при появлении в поле видмости вьюпорта
к этому блоку применяется класс _active, соответственно можно делать типо:

.block {
	transform: translate(300px, 0);
	opacity: 0;

	transition: all 1s ease 0s;
	
	&._active{
		transform: translate(0px,0px);
		opacity: 1;
	}
}

*** Плавный скролл ***

На ссылку цеплеяем класс _goto


*** Модальные окна ***

<a class="_popup-link" href="#example1">Ссылка на модальное окошечко</a>

и в общем блоке <div class="popup popup_example1">


*/

//<ГАЛЕРЕЯ>===================================

// Общему родителю items картинок добавляем _gallery