@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,800&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700,800,900&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap&subset=cyrillic-ext");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  color: #23283B;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.form__title {
  font-size: 24px;
  font-weight: 700;
}

.form__btn {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

button {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 52px;
  padding: 16px 60px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #E6514A;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 120%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #BE312B;
}

.btn__callback {
  min-height: 48px;
  min-width: 226px;
  padding: 14px 28px 14px 58px;
  background: #E6514A url("../../img/svg/btn-phone.svg") 13% center no-repeat;
  border-radius: 40px;
  letter-spacing: -.2px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

.input {
  background: transparent;
  width: 100%;
  display: block;
}

.input._error {
  border: 1px solid red !important;
}

.textarea {
  height: 100%;
}

.input,
.textarea {
  padding: 15px 15px 15px 20px;
  width: 100%;
  border-radius: 26px;
  background-color: #fff;
  font-size: 16px;
  -webkit-transition: border 0.7s ease 0s;
  -o-transition: border 0.7s ease 0s;
  transition: border 0.7s ease 0s;
}

.input._focus,
.textarea._focus {
  border-color: #8643DC !important;
  -webkit-box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.6);
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/*
._swiper {
  overflow: hidden;

  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }

  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }

  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}

.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}

.swiper-container-android {

  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}

.swiper-button-lock {
  display: none !important;
}

.swiper-button {
  position: absolute;
  background: transparent url(../../img/sl-arrow.png) no-repeat;
  width: 37px;
  height: 64px;
  top: 50%;
  transform: translate(0, 50%);
  cursor: pointer;

  transition: opacity .3s;
  z-index: 20;

  &-next {
    right: 0;
  }

  &-prev {
    transform: translate(0, 50%) rotate(180deg);
    left: 0;
  }
}

.swiper-pagination {
  position: absolute;
  width: 100%;
  margin: 32px 0px 0px 0px;

  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  margin: 0px 5px;

  width: 20px;
  height: 20px;
  display: inline-block;

  background: #ffeab9;
  border-radius: 50%;

  @media (max-width:$md3+px) {
    width: 10px;
    height: 10px;
  }
}

.swiper-pagination-bullet-active {
  background: $c_2;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

//=====================================================================================================================
._tabs {}

._tabs-item {}

._tabs-block {
  display: none;

  &._active {
    display: block;
  }
}
*/

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
          box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
}

.header__container {
  max-height: 300px;
  overflow-y: auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(222, 222, 255, 0.5);
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.social__link:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.phone__main {
  background: url("../../img/svg/phone.svg") 0 center no-repeat;
}

.phone__whatsapp {
  background: url("../../img/svg/whatsapp.svg") 0 center no-repeat;
}

.phone__main,
.phone__whatsapp {
  padding: 0px 0px 0px 28px;
  font-family: Roboto;
  font-weight: 900;
  color: inherit;
  line-height: 114.28571%;
}

.phone__main:not(:last-child),
.phone__whatsapp:not(:last-child) {
  margin: 0px 26px 0px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
}

.menu__body {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__body._active {
  -webkit-transform: translate(0px, 92px);
      -ms-transform: translate(0px, 92px);
          transform: translate(0px, 92px);
}

.menu__list {
  margin-right: 64px;
  margin-left: 32px;
  text-align: center;
}

.menu__item {
  padding: 0px 0px 32px 0px;
}

.menu__link {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  line-height: 120%;
  letter-spacing: -.4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #3035C3;
}

.burger {
  display: none;
  z-index: 999;
}

._no-webp .promo{
  background: url("../../img/promo.png") top right no-repeat; }

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__content {
  padding: 250px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 570px;
}

.promo__sub-title {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: #3035C3;
}

.promo__sub-title:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

.promo__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}

.promo__title:not(:last-child) {
  margin: 0px 0px 52px 0px;
}

.promo__title span {
  color: #E6514A;
}

.promo__btn {
  letter-spacing: -.5px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Технические классы

*** Табы ***

_tabs - общий родитель блока табов
_tabs-item - линк таба
_tabs-block - контент таба
_active - активный элемент

*** Аккордеон ***

_spollers - обший родитель аккордеона (если еще добавлен _one - то открыт только какой-то один ответ)
_spoller - класс вопроса, под ним должен быть div ответа (с любым классом)
Вопрос и ответ должыне быть в блоке типа spollers-block__item
_active - открытый аккордеон


*** Анимация ***

При добавлении блоку класса _scr-item - то при появлении в поле видмости вьюпорта
к этому блоку применяется класс _active, соответственно можно делать типо:

.block {
	transform: translate(300px, 0);
	opacity: 0;

	transition: all 1s ease 0s;
	
	&._active{
		transform: translate(0px,0px);
		opacity: 1;
	}
}

*** Плавный скролл ***

На ссылку цеплеяем класс _goto


*** Модальные окна ***

<a class="_popup-link" href="#example1">Ссылка на модальное окошечко</a>

и в общем блоке <div class="popup popup_example1">


*/

@media (min-width: 767.98px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item {
    padding: 5px 0px;
  }

  .menu__item:not(:last-child) {
    margin-right: 32px;
  }
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1220px) {
  .promo {
    opacity: .5;
  }
}

@media (max-width: 1200px) {
  .menu__list {
    margin-right: calc(10px + 54 * ((100vw - 320px) / 880));
  }

  .menu__list {
    margin-left: calc(10px + 22 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 767.98px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 36px 110px 32px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transform: translate(100%, 467px);
        -ms-transform: translate(100%, 467px);
            transform: translate(100%, 467px);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .header__top._active {
    -webkit-transform: translate(0, 467px);
        -ms-transform: translate(0, 467px);
            transform: translate(0, 467px);
  }

  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 36px 0px;
  }

  .phone > *:not(:last-child) {
    margin: 0px 0px 28px 0px;
  }

  .menu {
    padding: 26px 0px;
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    padding: 24px 76px 36px;
    -webkit-transform: translate(-100%, 92px);
        -ms-transform: translate(-100%, 92px);
            transform: translate(-100%, 92px);
    text-align: center;
    overflow: auto;
    background-color: #fff;
  }

  .menu__body:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 320px;
    background: rgba(222, 222, 255, 0.5);
  }

  .menu__item:last-child {
    padding: 0px 0px 36px 0px;
  }

  .menu__link {
    font-size: 18px;
    line-height: 120%;
  }

  .burger {
    display: block;
    position: absolute;
    top: 36px;
    right: 27px;
    width: 18px;
    height: 16px;
    cursor: pointer;
    z-index: 999;
  }

  .burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #23283B;
  }

  .burger span:first-child {
    top: 0px;
  }

  .burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: calc(10px + 22 * ((100vw - 320px) / 880));
  }
}

._webp .promo{ background: url(../../img/promo.webp) top right no-repeat; }