//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {}

//</ОСНОВНОЙ БЛОК>====================================================================================================



//<ГОТОВЫЕ КЛАССЫ>====================================================================================================


//====================================================================================================

._ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

//====================================================================================================
._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;

  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.videobg {

  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

//====================================================================================================

._swiper {
  overflow: hidden;

  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }

  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }

  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}

.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}

.swiper-container-android {

  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}

.swiper-button-lock {
  display: none !important;
}

.swiper-button {
  position: absolute;
  background: transparent url(../../img/sl-arrow.png) no-repeat;
  width: 37px;
  height: 64px;
  top: 50%;
  transform: translate(0, 50%);
  cursor: pointer;

  transition: opacity .3s;
  z-index: 20;

  &-next {
    right: 0;
  }

  &-prev {
    transform: translate(0, 50%) rotate(180deg);
    left: 0;
  }
}

.swiper-pagination {
  position: absolute;
  width: 100%;
  margin: 32px 0px 0px 0px;

  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  margin: 0px 5px;

  width: 20px;
  height: 20px;
  display: inline-block;

  background: #ffeab9;
  border-radius: 50%;

  @media (max-width:$md3+px) {
    width: 10px;
    height: 10px;
  }
}

.swiper-pagination-bullet-active {
  background: $c_2;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

//=====================================================================================================================
._tabs {}

._tabs-item {}

._tabs-block {
  display: none;

  &._active {
    display: block;
  }
}

//=====================================================================================================================
.mirror {
  transform: scale(-1, 1);
}

//=====================================================================================================================
.nicescroll-rails {
  z-index: 1000 !important;
}

//=====================================================================================================================

//========================================================================================================================================================
._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;

  //background-color: rgba(0, 0, 0, 0.1);
  &__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================